{% extends 'main.html' %}

{% block content %}
<div class="auth">
    <h1>Celebrity Contest</h1>
    <h1>Who's the most beautiful celebrity, and who has the most fans?</h1>
    <div class="celebrities">
        {% for celebrity in celebrities %}
            <div class="celebrity-block">
                <h2>{{ celebrity.name }}</h2>
                <img src="{{ celebrity.image.url }}" alt="{{ celebrity.name }}">
                <div class="vote-container">
                    <button onclick="vote('{{ celebrity.id }}')">Vote</button>
                    <p class="votes">Votes: {{ celebrity.votes }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<script> 
    function vote(celebrityId) {
        let token = prompt('Enter your token:');
        if (token) {
            window.location.href = `/enter_token/?celebrity_id=${celebrityId}&token=${token}`;
        }
    }
    
</script>

{% endblock %}


